<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/stylesheets/style.css" />
		<link rel="stylesheet" href="/assets/styles/salesforce-lightning-design-system.min.css" />
		<script src="/assets/scripts/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">			
			var socket = io();
			socket.on('event-processed', function (data) {
				var results = JSON.parse(data);
				console.log(results);							  
				
				var newPlatformEvent = '<div class="slds-tile slds-media slds-box">' +
					'	<div class="slds-media__figure">' +
					'		<svg aria-hidden="true" class="slds-icon slds-icon--standard slds-icon-custom-23">' +
					'			<use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom23"></use>' +
					'		</svg>' +
					'	</div>' +
					'	<div class="slds-media__body">' +
					'		<h3 class="slds-truncate" title="Salesforce UX">Event received from Salesforce Platform Events</h3>' +
					'		<div class="slds-tile__detail slds-text-body--small">' +
					'			<dl class="slds-dl--horizontal">' +
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Replay Id">Replay Id:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['event']['replayId'] + '">' + results['event']['replayId'] + '</p>' +
					'				</dd>' +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Account Id">Account Id:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['vrk99__Customer_ID__c'] + '">' + results['payload']['vrk99__Customer_ID__c'] + '</p>' +
					'				</dd>' +
										
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Ban Customer?">Ban Customer?:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['vrk99__Ban_Customer__c'] + '">' + results['payload']['vrk99__Ban_Customer__c'] + '</p>' +
					'				</dd>' +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Event Type">Event Type:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['vrk99__Event_Type__c'] + '">' + results['payload']['vrk99__Event_Type__c'] + '</p>' +
					'				</dd>' +
						
					'				<dt class="slds-dl--horizontal__label">' +
					'					<p class="slds-truncate" title="Contact by Date">Contact by Date:</p>' +
					'				</dt>' +
					'				<dd class="slds-dl--horizontal__detail slds-tile__meta">' +
					'					<p class="slds-truncate" title="' + results['payload']['CreatedDate'] + '">' + results['payload']['CreatedDate'] + '</p>' +
					'				</dd>' +
						
					'			</dl>' +
					'		</div>' +
					'	</div>' +
					'</div>';
				
				$(newPlatformEvent).prependTo('#messages').hide().slideDown();
					  
			})
			
			$(document).ready(function() {
				$("#createBtn").click(function(event) {
					event.preventDefault();
					console.log('In click');
					var eventObj = {};
					eventObj["customerId"] = $('#customerId').val();
					eventObj["eventType"] = $('#eventType').val();
					eventObj["bancustomer"] = $('#bancustomer').val();
					eventObj["parentEvent"] = $('#parentEvent').val();
					console.log('eventObj: ' + JSON.stringify(eventObj));
					$.post('/', eventObj, function(resp) {
						console.log("post response: " + resp);
					});
				});
			});
			
		</script>
	</head>
	<body>
    	{{{body}}}
	</body>
</html>
